@import 'src/styles.scss';

.not-found-wrapper {
  padding-bottom: 3rem;
  color: $color-toast-detail;

  .not-found-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;

    .title {
      font-family: 'Playfair Display', serif;
      font-size: 2.5rem;
    }

    .not-found-image {
      height: 17.4rem;
    }

    .home-link {
      padding: 0.75rem 1.5rem;
      border-radius: 8px;
      color: $color-button-bg;
      font-weight: 700;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 2px 12px $color-gold-yellow;
      background-color: $color-gold-yellow;
      text-decoration: none;

      &:hover {
        transform: translateY(-2px);
        background-color: $color-gold-dark;
      }
    }
  }
}

@media (max-width: 600px) {
  .not-found-content {
    gap: 1rem;

    .title {
      font-size: 2rem !important;
    }
  }
}