<div class="card">
  <h1 class="title">Create a Planning Poker Room</h1>

  <div class="input-group">
    <label for="name">Your Name: <span class="required">*</span></label>
    <input
      id="name"
      type="text"
      placeholder="Enter your name"
      [(ngModel)]="name"
      required
    />
  </div>

  <div class="input-group">
    <label for="room">Room Name: <span class="required">*</span></label>
    <input
      id="room"
      type="text"
      placeholder="Enter room name"
      [(ngModel)]="roomCode"
      required
    />
  </div>

  <div class="input-group">
    <label for="votes">Voting Cards:</label>
    <input id="votes" [(ngModel)]="customVotes" placeholder="e.g. 1,2,3,5,8" />
  </div>

  <div class="action-buttons">
    <button (click)="createRoom()" [disabled]="!name || !roomCode">
      Create Room
    </button>
    <button (click)="navigateToLobby()">Back To Lobby</button>
    <img src="/dice.webp" alt="Dice" (click)="generateRoomCode()" />
  </div>
</div>
