<div class="lobby-cards">
  <div class="card">
    <img src="/create.png" class="lobby-card-icon" alt="Create" />
    <h2 class="title">Create Room</h2>
    <p>Create a table, invite your team, and let the estimation games begin!</p>
    <div class="action-buttons">
      <button routerLink="/create-room">Create Room</button>
    </div>
  </div>

  <div class="card">
    <img src="/join.png" class="lobby-card-icon" alt="Join" />
    <h2 class="title">Join Room</h2>
    <p>Got an invite? Jump into the action and play your cards!</p>
    <div class="action-buttons">
      <button routerLink="/join-room">Join Room</button>
    </div>
  </div>

  <div class="card">
    <img src="/rooms.png" class="lobby-card-icon" alt="Rooms" />
    <h2 class="title">Find Room</h2>
    <p>Not sure where to go? Check out all open tables and find your squad.</p>
    <div class="action-buttons">
      <button routerLink="/list-rooms">Find Room</button>
    </div>
  </div>
</div>
