<div class="lobby-cards">
  <div class="card" routerLink="/create-room">
    <img src="/create.png" class="lobby-card-icon" alt="Create" />
    <h2 class="title">Create Room</h2>
    <p>Create a table, invite your team, and let the estimation games begin!</p>
  </div>

  <div class="card" routerLink="/join-room">
    <img src="/join.png" class="lobby-card-icon" alt="Join" />
    <h2 class="title">Join Room</h2>
    <p>Got an invite? Jump into the action and play your cards!</p>
  </div>

  <div class="card" routerLink="/list-rooms">
    <img src="/rooms.png" class="lobby-card-icon" alt="Rooms" />
    <h2 class="title">Find Room</h2>
    <p>Not sure where to go? Check out all open tables and find your squad.</p>
  </div>
</div>
