<div class="main-layout">
  <header class="main-header">
    <h1>
      <span class="card">🃏</span> Planning Poker <span class="card">🃏</span>
    </h1>
  </header>

  <main class="main-content">
    <p-toast></p-toast>
    <router-outlet></router-outlet>
  </main>

  <footer class="main-footer">
    <img
      src="/CleverPine.png"
      alt="CleverPine logo"
      class="footer-logo sparkle"
    />

    <div class="footer-team">
      <span class="emoji">🦌</span>
      <span class="team-name">Jägermeister Jaguars</span>
      <span class="emoji">🐆</span>
    </div>

    <img src="/CleverPine.png" alt="CleverPine" class="footer-logo sparkle" />
  </footer>
</div>
