@import 'src/styles.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.join-room {
  width: 100%;
  max-width: 35rem;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 16px;
  background: linear-gradient(145deg, $color-gold, $color-gold-light);
  color: #333;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);

  .title {
    font-size: 1.4rem;
  }

  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-weight: bold;

      .required {
        color: $color-red;
      }
    }
  }

  input {
    width: 64%;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
  }

  h1 {
    margin-bottom: 1.5rem;
    color: $color-dark;
    font-size: 1.8rem;
  }

  .action-buttons button {
    color: white;
  }
}

button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  color: #f5d774;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #2c2c2c;

  &:hover {
    transform: scale(1.03);
    background-color: #1f1f1f;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}