@import '../../../styles.scss';

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 3.5rem;

  .header {
    display: flex;
    align-items: center;
    gap: 12rem;
    max-width: 80rem;

    img {
      max-width: 10rem;
    }

    .vote-deck {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1.5rem 0;

      button {
        width: 60px;
        height: 60px;
        margin: 0.5rem;
        border-radius: 10px;
        font-size: 1.3rem;
      }

      button.selected {
        color: $color-gold-light;
        font-weight: bold;
        box-shadow: 0 0 0 2px rgba(245, 215, 116, 0.5);
        background-color: $color-badge;
        border-color: $color-gold-light;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      margin: 1.5rem;

      .reveal,
      .reset {
        font-size: 1.1rem;
      }
    }
  }
}

.player-list {
  max-width: 600px;
  margin: 1rem auto;
  margin-bottom: 5rem;
  padding: 0;
  list-style: none;
  ;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    margin: 0.3rem 0;
    padding: 0.75rem 1rem;
    border: 1px solid $color-gold-border;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    color: $color-light;
    font-weight: bold;
  }
}

button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: 2px solid #f5d774;
  border-radius: 8px;
  color: #f5d774;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #072c1e;

  &:hover {
    color: #fff;
    background-color: #d4af37;
  }

  &:active {
    transform: scale(0.97);
  }
}

button.reveal {
  color: white;
  background-color: #28a745;
  border-color: #28a745;
}

button.reset {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}

.average-display {
  min-height: 2rem;
  margin: 1rem;
  color: $color-gold-light;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1024px) {
  .header-wrapper .header {
    gap: 2rem;

    .vote-deck {
      button {
        width: 50px;
        height: 50px;
        font-size: 1rem;
      }
    }

    .controls {
      button {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
      }
    }
  }

  .average-display {
    margin: 0.5rem;
    font-size: 1.2rem;
  }

  .player-list li {
    align-items: flex-start;
    gap: 0.3rem;
    height: auto;
  }
}

.hover-card-wrapper {
  position: relative;
  display: inline-block;

  .room-details-card {
    position: absolute;
    top: 120%;
    left: 50%;
    z-index: 999;
    display: none;
    width: 150px;
    padding: 1rem 1.5rem;
    border: 2px solid #ffd700;
    border-radius: 12px;
    background: #143d3d;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);

    h3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      color: #ffd700;
      font-size: 1.2rem;
    }

    p {
      margin: 0.3rem 0;
      font-size: 0.95rem;
    }

    .yes {
      color: #00e676;
    }

    .no {
      color: #ff5252;
    }
  }

  &:hover .room-details-card {
    display: block;
  }
}